@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Monitoring Page</h1>
    <p class="lead">Use this page to monitor the SignalR hub</p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Updates from site:</h2>
        <textarea id="siteLogs" cols="480" rows="20"></textarea>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js" ></script>
<script src="~/signalr/hubs"></script>
    <script>
        var auctionHubProxy = $.connection.auctionHub;
        auctionHubProxy.client.expiringAuction = function (name, closingDate) {
            $("#siteLogs").append(name + " is closing at " + closingDate);
        };
        $.connection.hub.start()
            .done(function () { console.log('Now connected, connection ID=' + $.connection.hub.id); })
            .fail(function () { console.log('Could not Connect!'); });
    </script>

    }