@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a sample application meant to showcase Azure Web Jobs. This site is not intended to show best practices.</p>
